@font-face {
  font-family: 'GT Walsheim Regular Italic';
    src: url('fonts/GTWalsheim-RegularOblique.eot');
    src: url('fonts/GTWalsheim-RegularOblique.eot?#iefix') format('embedded-opentype'),
         url('fonts/GTWalsheim-RegularOblique.woff') format('woff'),
         url('fonts/GTWalsheim-RegularOblique.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Light';
  src: url('fonts/GTWalsheim-Light.eot');
  src: url('fonts/GTWalsheim-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTWalsheim-Light.woff') format('woff'),
       url('fonts/GTWalsheim-Light.ttf')  format('truetype');
  font-weight: 200;
  font-style: light;
}


@font-face {
  font-family: 'GT Walsheim Thin';
  src: url('fonts/GTWalsheim-Thin.eot');
  src: url('fonts/GTWalsheim-Thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTWalsheim-Thin.woff') format('woff'),
       url('fonts/GTWalsheim-Thin.ttf')  format('truetype');
  font-weight: 200;
  font-style: light;
}

@font-face {
  font-family: 'GT Walsheim Regular';
  src: url('fonts/GTWalsheim.eot');
  src: url('fonts/GTWalsheim.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTWalsheim.woff') format('woff'),
       url('fonts/GTWalsheim.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


html{
  font-family: 'GT Walsheim Light', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  
}

a, a:active, a:hover {
  text-decoration: none;
}

body {
  overflow-x: none;
}

.lead {
  opacity: 0.6;
  font-family: 'GT Walsheim Light';
  font-size: 11px;
  color: #000000;
  letter-spacing: 0.99px;
  line-height: 15px;
  text-transform: uppercase;
}

p {
  font-family: 'GT Walsheim Regular';
  font-size: 10px;
  color: rgba(0,0,0,0.4);
  letter-spacing: 0;
  line-height: 16.59px;
}

.section-title {
  opacity: 0.8;
  font-family: 'GT Walsheim Light';
  font-size: 22px;
  color: #000000;
  letter-spacing: -0.26px;
  line-height: 36px;
  width: 100%;
  margin-bottom: 45px;
  text-align: center;
}

/* Splashscreen */

#jumbo  {
  opacity: 0.8;
  font-family: 'GT Walsheim Light';
  font-size: 39.31px;
  color: #000000;
  letter-spacing: -0.3px;
  line-height: 43px;
}

#subtitle {
  margin-top: -17px;
  opacity: 0.3;
  font-family: 'GT Walsheim Light';
  font-size: 14.11px;
  color: #000000;
  letter-spacing: 0;
  line-height: 19.75px;
}

#splashscreen {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#logo {
  margin-bottom: 10vh;
}

#arrow {
  margin-top: 25vh;
}

/* About */

#about {
  width: 100vw;
  overflow-x: none;
  box-sizing: border-box;
  flex-direction: column;
  padding: 40px 28px;
  border-top: 1px solid rgba(0,0,0,0.05);
}

/* Specialization */

#specialization {
  width: 100vw;
  overflow-x: none;
  box-sizing: border-box;
  flex-direction: column;
  padding: 40px 28px;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.special-container {
  display: flex;
  flex-wrap: wrap;
  
}

.special-item {
  display: flex;
  flex: 1 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;

}

.special-item > img {
  margin-bottom: 15px;
}

/* Recent Work */

#work {
  width: 100vw;
  overflow-x: none;
  box-sizing: border-box;
  flex-direction: row;
  padding: 40px 28px;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.work-container {
  flex: 1 350px;
  display: flex;
  width: 100%;
  flex-direction: column;

}

.work-item {
  background: #FFFFFF;
  box-shadow: 0 2px 29px 0 rgba(0,0,0,0.09);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  
  margin-bottom: 30px;
}

.work-item, .work-item-title, .work-image-box {
  transition: 0.17s ease-in all;
}

.work-item:hover {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.09);
}

.work-item:hover > .work-item-title {
  opacity: 0.75;
}

.work-item:hover > .work-image-box {
  opacity: 0.95;
}

.work-image-box {
  min-height: 240px;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.work-item-title {
  width: 100%;
  display: flex;
  align: items: center;
  justify-content: center;
  text-align: center;
  padding: 25px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.work-item-title-mid {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  width: calc(100% - 20px);
}

.work-item-line {
  border-top: 1px solid rgba(0,0,0,0.07);
  flex: 1 10px;
  transform: translateY(7px);
  margin: 0 5px;
}

.work-item-title-dot-beginning {
  width: 10px;
}

.work-item-title-dot-end {
  width: 10px;
}


.work-item-h3 {
  margin: 0 5px;
}

#work-image-1 {
  background: url(../img/hackerbay_brand.jpg);
  background-size: cover;
  background-position: center;
}

#work-image-2 {
  background: url(../img/skype_cover.jpg);
  background-size: cover;
  background-position: center;
}

#work-image-3 {
  background: url(../img/wizart_cover.jpg);
  background-size: cover;
  background-position: center;
}

/* Testimonials */

#testimonials {
  max-width: 100vw;
  overflow-x: scroll;
  box-sizing: border-box;
  flex-direction: column;
  padding: 40px 0;
  border-top: 1px solid rgba(0,0,0,0.05);
}



.testimonial-container {
  flex: 1 350px;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
  
}

.testimonial-item {
  background: #FFFFFF;
  box-shadow: 0 2px 29px 0 rgba(0,0,0,0.09);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 20px 1vw;
  min-width: 87vw;
  z-index: 2;
}

.testimonial-sub-box {
  padding: 10px 20px 5px 20px;
}

.testimonial-text-box {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  padding: 10px 30px 5px 20px;
}

.testimonial-text {
  opacity: 0.8;
  font-family: 'GT Walsheim Regular Italic';
  font-size: 18px;
  color: #000000;
  letter-spacing: -0.46px;
  line-height: 32px;
}

.testimonial-client-info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 54px;
  margin-top: 6px;
}

.testimonial-client-name-box {
  flex: 3;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-client-name-name {
  opacity: 0.8;
  font-family: 'GT Walsheim Regular';
  font-size: 18px;
  color: #000000;
  letter-spacing: -0.46px;
  line-height: 24px;
  margin: 0;
  
}

.testimonial-client-name-company {
  margin: 0;
  transform: translateY(4px);
}

.testimonial-client-logo {
  margin-right: 15px;
  max-width: 80px;
  max-height: 34px;

  
}

.testimonial-client-avatar > img{
  border-radius: 50px;
  width: 54px;
  transform: translateY(2px);
}

.testimonial-client-project-description > p{
  margin-top: 15px;
  opacity: 0.3;
  font-family: 'GT Walsheim Regular';
  font-size: 12px;
  color: #000000;
  letter-spacing: 0;
  line-height: 16.75px;
}

/* Brands */

.brands {
  min-height: 100vh;
  transform: translateY(-30vh);
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #F4F4F4 14%);
  z-index: -1;
  margin-bottom: -30vh;
  padding-top: 30vh;
}


.brand-container {
  display: flex;
  flex-wrap: wrap;
}

.brand-item {
  display: flex;
  flex: 1 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

#brand-1 {
  height: 18px;
}

#brand-2 {
  height: 32px;
}

#brand-3 {
  height: 19px;
}

#brand-4 {
  height: 33px;
}

#brand-5 {
  height: 24px;
}

#brand-6 {
  height: 16px;
}

#brand-7 {
  height: 17px;
}

#brand-8 {
  height: 23px;
}

#brand-9 {
  height: 26px;
}

#brand-10 {
  height: 29px;
}

#brand-11 {
  height: 33px;
}

#brand-12 {
  height: 34px;
}

#brand-13 {
  height: 20px;
}

#brand-14 {
  height: 29px;
}

/* Footer */

.footer-container {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 40px 28px;
  width: 100vw;
  box-sizing: border-box;
  background-color: #0D0D0D;
  text-align: center;
  align-items: center;
  justify-content: center;
} 

.footer-icon-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-icon {
  flex: 1 110px;
  box-sizing: border-box;
  padding: 25px 15px;

}

#footer-lead {
  color: white;
  margin-top: 5vh;
}

#footer-title {
  color: white;
  margin: 6vh 0 6vh;
}

#footer-p {
  margin-top: 10vh;
  color: rgba(255,255,255,0.4);
}




