@font-face {
  font-family: 'GT Walsheim Regular Italic';
    src: url('fonts/GTWalsheim-RegularOblique.eot');
    src: url('fonts/GTWalsheim-RegularOblique.eot?#iefix') format('embedded-opentype'),
         url('fonts/GTWalsheim-RegularOblique.woff') format('woff'),
         url('fonts/GTWalsheim-RegularOblique.ttf')  format('truetype');
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Light';
  src: url('fonts/GTWalsheim-Light.eot');
  src: url('fonts/GTWalsheim-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTWalsheim-Light.woff') format('woff'),
       url('fonts/GTWalsheim-Light.ttf')  format('truetype');
  font-weight: 200;
  font-style: light;
}


@font-face {
  font-family: 'GT Walsheim Thin';
  src: url('fonts/GTWalsheim-Thin.eot');
  src: url('fonts/GTWalsheim-Thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTWalsheim-Thin.woff') format('woff'),
       url('fonts/GTWalsheim-Thin.ttf')  format('truetype');
  font-weight: 200;
  font-style: light;
}

@font-face {
  font-family: 'GT Walsheim Regular';
  src: url('fonts/GTWalsheim.eot');
  src: url('fonts/GTWalsheim.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTWalsheim.woff') format('woff'),
       url('fonts/GTWalsheim.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


html{
  font-family: 'GT Walsheim Light', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  
}

body {
  overflow-x: none;
}

.lead {
  opacity: 0.6;
  font-family: 'GT Walsheim Light';
  font-size: 11px;
  color: #000000;
  letter-spacing: 0.99px;
  line-height: 15px;
  text-transform: uppercase;
}

p {
  font-family: 'GT Walsheim Regular';
  font-size: 10px;
  color: rgba(0,0,0,0.4);
  letter-spacing: 0;
  line-height: 16.59px;
}

/* Splashscreen */

#jumbo  {
  opacity: 0.8;
  font-family: 'GT Walsheim Light';
  font-size: 39.31px;
  color: #000000;
  letter-spacing: -0.3px;
  line-height: 43px;
}

#subtitle {
  margin-top: -17px;
  opacity: 0.3;
  font-family: 'GT Walsheim Light';
  font-size: 14.11px;
  color: #000000;
  letter-spacing: 0;
  line-height: 19.75px;
}

#splashscreen {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#logo {
  margin-bottom: 10vh;
}

#arrow {
  margin-top: 25vh;
}

/* About */

#about {
  width: 100vw;
  overflow-x: none;
  box-sizing: border-box;
  flex-direction: column;
  padding: 40px 28px;
  border-top: 1px solid rgba(0,0,0,0.1);
}

#about-text {
  opacity: 0.8;
  font-family: 'GT Walsheim Light';
  font-size: 22px;
  color: #000000;
  letter-spacing: -0.26px;
  line-height: 36px;
  width: 73vw;
}

/* Specialization */

#specialization {
  width: 100vw;
  overflow-x: none;
  box-sizing: border-box;
  flex-direction: column;
  padding: 40px 28px;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.special-container {
  display: flex;
  flex-wrap: wrap;
  
}

.special-item {
  display: flex;
  flex: 1 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;

}

.special-item > img {
  margin-bottom: 15px;
}


/* Footer */

.footer-container {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 40px 28px;
  width: 100vw;
  box-sizing: border-box;
  background-color: #0D0D0D;
  text-align: center;
  align-items: center;
  justify-content: center;
} 

.footer-icon-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-icon {
  flex: 1 110px;
  box-sizing: border-box;
  padding: 25px 15px;

}

#footer-lead {
  color: white;
  margin-top: 5vh;
}

#footer-title {
  color: white;
  margin: 6vh 0 6vh;
}

#footer-p {
  margin-top: 10vh;
  color: rgba(255,255,255,0.4);
}





